<div class="nav-wrapper">
    <div class="container nav">
        <div class="nav-left">
            <a href="#">Portfolio</a>
        </div>
        <div class="icon-wrapper" (click)="toggleMenuBar()">
            <div [ngClass]="navMenuOpen ? 'nav-icon open' : 'nav-icon'">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
        <div (click)="toggleMenuBar()" [ngClass]="navMenuOpen ? 'nav-right open' : 'nav-right'">
            <div class="nav-menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Skills</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </div>
        </div>
    </div>
</div>

<div class="container content">
</div>