/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
:root {
    --nav-height: 52px;

    /* colors */
    --primary-color: #BB86FC; /* purple 200 */
    --green-color: #03DAC6; /*green 200*/
    --pink-color: #FF7597; /* owl pink 200*/
    --error-bg: #CF6679;

    /* font  */
    --poppins: 'Poppins', sans-serif;
    --rubik: 'Rubik', sans-serif;       
}

/* light mode */
:root {
    
    --bg: #F0F2F5;
    --bg-surface: #FAFAFA;
    --color: #121212;
    --hover-color: #00000061;
    --border-color: #E8EBE8; 
}

/*dark mode  */
:root {
    --bg: #121212;
    --bg-surface: #212121;
    --color: #ffffff;
    --hover-color: rgba(255, 255, 255, 0.1); 
    --border-color: #00000061;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color);
    font-weight: 200;
}

body {
    background-color: var(--bg);
    font-family: var(--poppins);
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px var(--color);
    padding: 10px;
}

/* media queries */
@media only screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}