.home-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--nav-height) - 24px);
}

/* home left css  */
.home-left {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    font-family: var(--rubik);
    font-weight: 300;
}

.intro {
    padding: 2rem;
    background-color: var(--bg-surface);
    border-radius: 20px;
}

.highlight {
    color: var(--primary-color);
    font-weight: 400;
}

h1, h2 {
    font-weight: 300;
    font-family: var(--poppins);
}

.contact-section {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1rem 0;
}

.contact-left p:first-of-type, 
.contact-right p:first-of-type {
    font-weight: 400;
}

.contact-left a {
    text-decoration: none;
}

.btn-section {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}

.btn-section a {
    text-decoration: none;
    padding: 15px 20px;
    box-shadow: 0px 0px 2px var(--color);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 300;
    font-size: 0.9rem;
}

.btn-section a:first-of-type {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 2px var(--primary-color);
}

.btn-section a:first-of-type:hover {
    opacity: 0.9;
}

.btn-section a:last-of-type:hover {
    background-color: var(--pink-color);
    box-shadow: 0px 0px 2px var(--pink-color);
}

.social-profile {
    display: flex;
    gap: 1rem;
}

.social-profile a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--bg-surface);
}

.social-profile a:hover {
    background-color: var(--pink-color);
}

.fa-brands {
    font-size: 1.2rem;
}


/* home right css  */
.home-right {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0;
}

.profile-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
}

.loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.profile-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.animate {
    background-color: var(--primary-color);
    animation: animate 4s infinite linear;
}

.cv_preview {
    border-radius: 10px;
    width: 800px;
    height: calc(100vh - 150px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

}

@media only screen and (max-width: 1000px) {
    .home-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .home-left {
        max-width: 600px;
        margin: 0 auto;
        order: 2;
        gap: 2rem;
    }

    .home-right {
        order: 1;
        justify-content: center;
    }
}



@media only screen and (max-width: 500px) {
    .intro h1 {
        font-size: 1.8rem;
    }
    
    .intro h2 {
        font-size: 1.2rem;
    }
    
    .contact-section {
        flex-direction: column;
        gap: 0.5rem;
    }
    
}

@media only screen and (max-width: 450px) {
    .profile-wrapper {
        width: 90%;
        height: auto;
    }

    .btn-section {
        flex-direction: column;
    }

    .btn-section a {
        padding: 15px 20px;
        text-align: center;
    }

    .social-profile {
        justify-content: center;
    }
}
