<div class="home-wrapper">
    <div class="home-left">
        <div class="intro">
            <h1>Hi I'm Rohan Jadhav</h1>
            <h2>And I'm <span class="highlight">Java Full Stack Developer</span></h2>
            <p>I am a passionate and results-driven Software Engineer with a strong foundation in web development and a thirst for solving complex problems through code.</p>
            <div class="contact-section">
                <div class="contact-left">
                    <p>Email:</p>
                    <a href="mailto:jadhavrohan5050@gmail.com">jadhavrohan5050@gmail.com</a>
                </div>
                <div class="contact-right">
                    <p>Mobile:</p>
                    <p>9673623463</p>
                </div>
            </div>
            <div class="btn-section">
                <a href="#">Download CV</a>
                <a href="#">Hire Me Now!</a>
            </div>
        </div>
        <div class="social-profile">
            <a href="https://github.com/JadhavRohan5256" target="_blank">
                <span class="fa-brands fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/rohan-jadhav-ba56a21b1/" target="_blank">
                <span class="fa-brands fa-linkedin-in"></span>
            </a>
            <a href="https://twitter.com/RohanJadhav5050" target="_blank">
                <span class="fa-brands fa-twitter"></span>
            </a>
            <a href="https://www.codechef.com/users/hackerrohan123" target="_blank">
                <span class="fa-brands fa-codepen"></span>
            </a>
        </div>
    </div>
    <div class="home-right">
        <div class="profile-wrapper" >
            <loader *ngIf="!isProfileLoaded" class="loader-wrapper"></loader>
            <img src="./../../assets/profile/rohan.png" loading="lazy" (load)="onProfileLoad()" [ngClass]="{'animate' : isProfileLoaded === true}" alt="profile">
        </div>
    </div>
</div>